// Overwrites bootstrap variables

$body-bg:               #FDFDFD;

$brand-primary:         #005299;          // Con-Way Blue
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default; 
$brand-warning:         #FF9100; // Con-Way warning orange!
$brand-danger:          #d9534f !default;

$font-family-sans-serif:  "freight-sans-pro", Helvetica, Arial, sans-serif;