$border-color: #ddd;
$hover-color: #e7e7e7;
$current-border: #cecece;

.calendar {
    margin-bottom: 40px;
}

.full-height-calendar {
    height:100vh;
}

// The calendar table
#calendar {
//   height: 80vh;  
   border-spacing: 0.3em;
   text-align: left;
   word-break: break-all;

    th {
        font-size: .5em;
        vertical-align: bottom;
        text-align: center;
    }   

    td {
       font-size: .8em;
       vertical-align: top;
       padding: 5px;
       border: 1px solid $border-color;
    }
    
    td:hover {
      background-color: $hover-color;   
    }
    
    td a { display: block; }
    
    tr#current {
      td {
          background-color: $hover-color;
          border-color: $current-border !important;
      }     
    }
}

