$icon-font-path: "../fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

$gray: #b7b7b7;

ul.week-overview {
    margin: 0;
    padding: 0;
    
    li {
      display: inline;
      border: 1px solid $gray;
      $width: 100%;
      @media (min-width: $screen-md-min) { width: $width / 7; }
      width: $width;
        
        a {
            display: block;
            padding: 1em;
        }
        
        a:hover {
          text-decoration: none;   
        }
    }
    
    li:hover {
        background-color: $gray;
    }
}